@model IEnumerable<ASPCORE.Models.ViewModels.LoanuserViewModels>
@{
    ViewData["Title"] = "LoanIndex";
}
<br />
<div id="mainpage">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-info">Loan Employee lists</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp;</a>
        </div>
        <br />
        <div class="col-12">
            <table class="table table-striped border">
                <tr class="table-info">
                  
                    <th>Image</th>
                    <th>Personal Details</th>
                    <th>Address&PhoneNumber</th>
                    <th>Loan Details</th>
                    <th class="text-right">Actions</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                       
                        <td><img src="@Html.DisplayFor(m => item.ImagePath)" width="150" height="100" /></td>
                        <td>
                            <b>Name</b> :<b>@Html.DisplayFor(m => item.FirstName)</b>
                            <b>LastName</b>:<b>@Html.DisplayFor(m => item.LastName)</b><br />
                            <b>Status:</b>@Html.DisplayFor(m => item.Loanstatus)<br />

                        </td>

                        <td>
                            <b>Phone Number:</b>@Html.DisplayFor(m => item.Phoneno)<br />
                            <b>Address:</b>@Html.DisplayFor(m => item.address)<br />

                        </td>
                        <td>
                            @*<a href="/LoanUser/LoanIndex/@item.Id" class="btn btn-sm btn-outline-secondary">View Loan Details</a>*@
                            <input type="button" value="View Loan Details" class="btn btn-outline-dark" onclick="getCarOwnersusingAjax(@item.Id)" />
                        </td>
                        <partial name="_EditDeleteTablePartial" model="item.Id" />

                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div id="loandetails">
        <div class="container">
            <h2>Loan Details</h2>
            <div class="bg-light shadow-lg" >
                <div class="row">
                    <div class="col-md-4">
                        <img src="\images\bike1.jpg" alt="" id="img1" height="100" width="100" />
                    </div>
                    <div class="col-md-4">
                        <label typeof="text">FirstName</label>
                        <input type="text" id="fName" disabled="disabled" />
                       </div>
                    <div class="col-md-4">
                        <label typeof="text">LastName</label>
                        <input type="text" id="lName" disabled="disabled" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4">
                        @*<label typeof="text">Phone Number</label>
                        <input type="text" id="phoneno" disabled="disabled" />*@
                    </div>
                    <div class="col-md-4">
                        <label typeof="text">Phone Number</label>
                        <input type="text" id="phoneno" disabled="disabled" />
                       </div>

                    <div class="col-md-4">
                        <label typeof="text">Emi</label>
                        <input type="text" id="emi" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label typeof="text">TotalLoanAmount</label>
                        <input type="text" id="totalamount" disabled="disabled" />
                       
                    </div>
                    <div class="col-md-4">
                        <label typeof="text">Monthly Pay Emi</label>
                        <input type="text" id="memi" disabled="disabled" />
                    </div>
                </div>

            </div>
            <br />
            <input type="button" id="btnback" value="Back" class="btn btn-outline-dark" />
    </div>
 </div>
@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#loandetails').hide();

            $('#btnback').click(function () {
                $('#loandetails').hide();
                $('#mainpage').show();
            })
        });
            function getCarOwnersusingAjax(loanid) {
                $.ajax({  
                        url: "/LoanUser/getbyID/" + loanid,  
                        type: "GET",  
                        contentType: "application/json;charset=UTF-8",  
                        dataType: "json",  
                        success: function (result) {
                            $('img#img1').val(result.ImagePath);
                            $('input#fName').val(result.FirstName);  
                            $('input#lName').val(result.LastName); 
                            $('input#phoneno').val(result.Phoneno);
                            $('input#emi').val(result.Emi); 
                            $('input#totalamount').val(result.TotalLoanAmount);
                            $('input#memi').val(result.MonthlyEmi); 
                            $('#loandetails').show();
                            $('#mainpage').hide();
                           
                        },  
                        error: function (errormessage) {  
                            alert(errormessage.responseText);  
                        }  
                 });  
                return false;
            }
     
         
    </script>
}